$border: #EFEFEF;
$border-light: #f4f4f4;
$textColor: #626262;
$other-month: #f9f9f9;
$radius: 10px;
$bigDot: 12px;
$dark: #181A24;
$darkBorder: #707070;

body {
  font-family: Roboto;
}

.calendar {
  margin: 20px;
  font-size: 14px;
  @media all and(max-width: 768px){
    background: $dark;
    color: #ffffff;
  }

  &-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    padding: 0 20px;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    font-weight: 700;

    @media all and(max-width: 768px){
      height: 40px;
      border: none;
    }

    .filters {
      display: flex;

      @media all and(max-width: 768px){
        display: none;
      }

      .filter {
        margin-right: 20px;

        .caption {
          margin-left: 15px;
          margin-bottom: 5px;
          font-weight: 400;
          opacity: .5;
        }

        .filter-drop {
          position: relative;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.51);

          .curr-value {
            position: relative;
            z-index: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            width: 160px;
            border: 1px solid #08C6F4;
            padding: 0 15px;
            border-radius: 10px;
            background: #ffffff;


            .material-icons {
              color: #707070;
            }
          }

          .filter-list {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 500;
            transform: rotateX(-90deg);
            transform-origin: top;
            width: 100%;
            margin-top: 5px;
            border: 1px solid #08C6F4;
            box-sizing: border-box;
            border-radius: 10px;
            background: #f6f6f6;
            cursor: pointer;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            transition: .3s;

            .filter-item{
              padding: 13px 15px;
              transition: .3s;

              &:not(:last-child){
                border-bottom: 1px solid #08C6F4;
              }

              &:hover{
                padding-left: 20px;
              }
            }

            &.active {
              transform: rotateX(0deg);
              background: #ffffff;
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }

    .content {
      width: 130px;
      text-align: center;

      @media all and(max-width: 768px){
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title {
        font-size: 30px;
        margin-bottom: 5px;
        text-transform: capitalize;

        @media all and(max-width: 768px){
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      .subtitle {
        opacity: .4;

        @media all and(max-width: 768px){
          display: none;
        }
      }
    }

    .prev, .next {
      display: flex;
      align-items: center;
      opacity: .3;
      transition: .3s;

      @media all and(max-width: 768px){
        opacity: .8;
      }

      i {
        font-size: 30px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .prev {
      margin-right: 40px;
    }

    .next {
      margin-left: 40px;
    }
  }

  &-navigation{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    @media all and(max-width: 768px){
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
    }

    @media all and(max-width: 1280px){
      left: initial;
      right: 20px;
      transform: translate(0, -50%);
    }
  }

  .days {
    display: flex;
    border-top: 1px solid $border-light;
    border-left: 1px solid $border;

    @media all and(max-width: 768px){
      border-top: 1px solid $darkBorder;
      border-left: none;
    }

    .day {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 30px;
      padding: 0 15px;
      width: #{calc(100% / 7)};
      color: #d9d9d9;
      border-right: 1px solid $border-light;

      @media all and(max-width: 768px){
        justify-content: center;
        padding: 20px 0;
        border-right: none;
        color: $darkBorder;
      }

  /*    &:last-child {
        border-right: 1px solid $border;
      }*/
    }
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $border;

    @media all and(max-width: 768px){
      border-top: none;
    }

    .date {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      width: #{calc(100% / 7)};
      height: 105px;
      padding: 10px;
      box-sizing: border-box;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      color: $textColor;

      @media all and(max-width: 768px){
        flex-wrap: wrap;
        justify-content: center;
        height: 36px;
        padding: 0;
        margin-bottom: 20px;
        border: none;
        color: #ffffff;
      }

      &:last-child {
        border-bottom-right-radius: $radius;
      }

      &:nth-child(29n) {
        border-bottom-left-radius: $radius;
      }

      &:nth-child(7n+1) {
        border-left: 1px solid $border;

        @media all and(max-width: 768px){
          border-left: none;
        }
      }

      &:first-child {
        border-left: 1px solid $border;

        @media all and(max-width: 768px){
          border-left: none;
        }
      }

      &.other-month {
        background: $other-month;

        @media all and(max-width: 768px){
          background: $dark;
          color: $darkBorder;
        }
      }

      &-label{
        @media all and(max-width: 768px){
          width: 100%;
          text-align: center;
        }
      }

      .start {
        left: 0;
      }

      .end {
        right: 0;
      }

      .start, .end {
        position: absolute;
        top: 50%;
        z-index: 100;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        width: 0;
        height: 26px;
        box-sizing: border-box;
        transition: 1s;
        color: white;
        overflow: hidden;
        opacity: .9;

        &.showDots {
          .dots {
            right: 0;
            width: 30px;
            padding: 0 10px;
            min-width: 30px;

            &:hover {
              opacity: .7;
            }
          }
        }

        .dots {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          right: -50px;
          height: 100%;
          width: 0;
          min-width: 0;
          padding: 0;
          margin-left: auto;
          transition: .3s;
          cursor: pointer;

          .dot {
            position: relative;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            display: block;
            color: inherit;
          }
        }

        &.secondLine {
          top: #{calc(50% + 6px)};
          transform: translate(0, 50%);
        }

        .begin-mark {
          position: absolute;
          left: 0;
          display: block;
          width: 10px;
          min-width: 10px;
          height: inherit;
          border-radius: 5px;
          mix-blend-mode: overlay;
          background: rgba(0, 0, 0, 0.5);
        }

        .name {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          padding-left: 20px;
          align-items: center;
          pointer-events: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border-radius: 5px;
        }
      }

      .big-dot {
        position: absolute;
        left: 0;
        top: 0;
        margin: 10px;
        width: $bigDot;
        height: $bigDot;
        border-radius: 50%;
        background: red;
        transition: .3s;
        opacity: 0;
        visibility: hidden;

        @media all and(max-width: 768px){
          position: relative;
          height: 8px;
          width: 8px;
          min-width: 8px;
          margin: 0 2px;
        }

        &::after {
          content: '+1';
          position: absolute;
          left: #{calc(100% + 10px)};
          top: 50%;
          transform: translate(0, -50%);
          opacity: .3;

          @media all and(max-width: 768px){
            display: none;
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
